
#### Configuration file for Crypto Coin Ticker
### SD-Card Version - by frittna@github
## modify at least your WiFi name and Password
# store in this file in the root of your SD-Card !

# available TimeZones
# 0: Australia Eastern Time Zone (Sydney, Melbourne)
# 1: United Kingdom (London, Belfast)
# 2: Eastern European Time (Bulg., Greece, Rom., Ukr., Egypt)
# 3: Central European Time Zone (Frankfurt, Paris)
# 4: US Eastern Time Zone (New York, Detroit)
# 5: US Central Time Zone (Chicago, Houston)
# 6: US Mountain Time Zone (Denver, Salt Lake City)
# 7: US Pacific Time Zone (Las Vegas, Los Angeles);

# available Languages
# 0: english
# 1: german
# 2: spanish

###### CONFIGURATION STARTS HERE ######

# set up network settings
ssid=
password=

# optional network 2 - connect when ButtonC is pressed at startup
ssid2=
password2=

# select your TimeZone and Language
myTimeZone=4
myLanguage=0

# maximum of pairs to switch through with ButtonA (extend to 25 pairs maximum)
pairs=8

# name of the pair for LCD output
pair_name01= Bitcoin
pair_name02=   ETH
pair_name03=   DOT
pair_name04=  LINK
pair_name05=   UNI
pair_name06=  IOTA
pair_name07= YearnFi
pair_name08=  DOGE

# part of the URL for the requested data (must be in CAPITALS)
pair_STRING01=BTCUSDT
pair_STRING02=ETHUSDT
pair_STRING03=DOTUSDT
pair_STRING04=LINKUSDT
pair_STRING05=UNIUSDT
pair_STRING06=IOTAUSDT
pair_STRING07=YFIUSDT
pair_STRING08=DOGEUSDT

# Hex color value for pair name color (RGB565 format)
pair_color01=0xFD20
pair_color02=0x03EF
pair_color03=0xC618
pair_color04=0x001F
pair_color05=0xF81F
pair_color06=0xD69A
pair_color07=0xFFFF
pair_color08=0xD4C1

# sleeptime, minutes (if ButtonB is pressed long)
mySleeptime=45

# welcome string (only for serial output)
welcome=Hey You :) 



# some example color codes in HEX: 	R    G    B
#-------------------------------------------------------------
#NAVY		0x000F      	            	0,   0, 128
#DARKGREEN	0x03E0    	            0, 128,   0
#DARKCYAN	0x03EF      	            0, 128, 128
#MAROON	0x7800     		            128,   0,   0
#PURPLE		0x780F     	            128,   0, 128
#OLIVE		0x7BE0                  128, 128,   0
#LIGHTGREY	0xC618                192, 192, 192
#DARKGREY	0x7BEF                  128, 128, 128
#BLUE		0x001F      		            0,   0, 255
#GREEN		0x07E0                  	0, 255,   0
#CYAN		0x07FF      	            	0, 255, 255
#RED		0xF800      	            255,   0,   0
#MAGENTA	0xF81F                  255,   0, 255
#YELLOW		0xFFE0                  255, 255,   0
#WHITE		0xFFFF                  255, 255, 255
#ORANGE 		0xFD20                255, 165,   0
#GREENYELLOW	0xAFE5              173, 255,  47
#PINK		0xF81F
